.span3 > table {
    width: 70%;
}

.control-group > .span2 {
    margin-left: 1.7%;
}

select {
    width: 100%;
}

.grid-wrapper {
	margin-bottom: 60px;
}
.grid-wrapper .head {
	margin-bottom: 30px;
}
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}
.grid-form{
        width: 100%;              
}
.grid-form-label{
    width: 150px;
}
.grid-form-radio{
        padding-left:10%;
        width: 50%;
}
.grid-form-dropdown{
        width: 70%;
        height: 50%;
}