# Arquivos da build do maven.
/target

# Arquivos de configuração do eclipse.
.classpath
.project
.settings/

# Arquivos do glassfish
nb-configuration.xml
glassfish-web.xml

# Qualquer tipo de log
*.log*
*.log
*.log.????-??

# Arquivos de configuração do IntelliJ
.idea/
SincapInterfaceWeb.iml

# Arquivos de configuração do NetBeans
nbactions.xml
