<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="aplProcessoNotificacao" name="aplProcessoNotificacao" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplProcessoNotificacao"/>
    </bean>

    <bean id="aplCadastroInterno" name="aplCadastroInterno" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="br.ifes.leds.sincap.controleInterno.cln.cgt.AplCadastroInterno"/>
    </bean>

</beans>