<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" path-type="regex">
        <logout invalidate-session="true" delete-cookies="JSESSIONID"/>
        <access-denied-handler error-page="/403"/>
        <form-login
                default-target-url="/index"
                always-use-default-target="true"
                login-page="/"
                username-parameter="username"
                password-parameter="password"/>
        <intercept-url pattern="^.*analisar.*$" access="ROLE_ANALISTA"/>
        <intercept-url pattern="/index.*" access="ROLE_ANALISTA, ROLE_CAPTADOR, ROLE_NOTIFICADOR"/>
        <intercept-url pattern="/obito.*" access="ROLE_NOTIFICADOR"/>
        <intercept-url pattern="/entrevista.*" access="ROLE_ANALISTA,ROLE_NOTIFICADOR, ROLE_CAPTADOR"/>
        <intercept-url pattern="/captacao.*" access="ROLE_CAPTADOR"/>
        <intercept-url pattern="/admin.*" access="ROLE_ADMIN"/>
        <!--<intercept-url pattern="/processo.*" access="ROLE_ANALISTA"/>-->
        <intercept-url pattern="/relatorio.*" access="ROLE_ANALISTA, ROLE_CAPTADOR, ROLE_NOTIFICADOR"/>
        <intercept-url pattern="/processo.*" access="ROLE_ANALISTA, ROLE_CAPTADOR, ROLE_NOTIFICADOR"/>
        <intercept-url pattern="^.*excluir.*$" access="ROLE_ANALISTA"/>
        <intercept-url pattern="^.*arquivar.*$" access="ROLE_ANALISTA"/>
        <intercept-url pattern="/buscar.*" access="ROLE_ANALISTA, ROLE_CAPTADOR, ROLE_NOTIFICADOR"/>
        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder" />
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "SELECT cpf username, senha AS password, ativo enabled FROM funcionario WHERE cpf =?"
                               authorities-by-username-query=
                                       "SELECT cpf username, permissao.role FROM funcionario JOIN funcionario_permissao ON funcionario.id = funcionario_permissao.funcionario_id JOIN permissao ON permissao.id = funcionario_permissao.permissoes_id WHERE cpf = ?"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="10" />
    </beans:bean>
</beans:beans>